/*
 *= require_self
 *= require_tree .
 *= require _font-awesome
 *= require _font-awesome-ie7.min
 */

@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin gray_link {
  a {
    color: $gray;
    &:hover {
      color: $grayLight;
    }
  }
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.main {
  padding-top: 20px;
  padding-left: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $grayLight;
}

h1.title {
  font-size: 1.8em;
  margin: 5px 0;
  text-align: left;
  @include gray_link
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

a {
  color: #6DA3BD;
  &:visited {
    color: #909;
  }
  &:hover {
    color: #4D7285;
  }
  &.red {
    color: $red;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $grayLight;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  &:hover {
    color: $grayLight;
    text-decoration: none;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.remember_me {
  margin-bottom: 10px;
  input {
    vertical-align: baseline;
  }
  label {
    display: inline;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* posts */

.posts {
  .post {
    margin-top: 20px;
    .content {
      margin-bottom: 10px;
    }
    .infopanel {
      padding: 10px;
      margin-top: 5px;
      font-size: 0.9em;
      color: $gray;
      a {
        margin-right: 10px;
        text-decoration: none;
      }
    }
  }
}

/* post */

time {
  margin-right: 10px;
  font-size: 0.8em;
  color: $grayLight;
}

.read-more {
  min-height: 30px;
}

.icon-remove {
  color: red;
}

.comment_form {
  width: 70%;
}

/* comment */

.comment {
  margin-top: 25px;
}

.comment .body {
  border-top: 1px solid #eee;
  padding-top: 5px;
}

.comment_creation {
  font-size: 0.9em;
  a {
    margin-right: 10px;
    text-decoration: none;
  }
  span.commenter {
    margin-right: 10px;
    font-weight: bold;
    color: $gray;
  }
}

/* user */

.profile {
  td {
    padding: 10px;
  }
}

.users {
  a.red {
    color: darkred;
  }
  @include gray_link
}
