/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require _font-awesome
 *= require _font-awesome-ie7.min
 */

@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin gray_link {
  a {
    color: $gray;
    &:hover {
      color: $grayLight;
    }
  }
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding: 60px 20px 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $grayLight;
}

h1.title {
  font-size: 1.8em;
  margin: 5px 0;
  text-align: left;
  @include gray_link
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $grayLight;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  &:hover {
    color: $grayLight;
    text-decoration: none;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* posts */

.posts {
  .post {
    margin-top: 20px;
    .content {
      margin-bottom: 10px;
    }
  }
}

/* post */

time {
  font-size: 0.8em;
  color: $grayLight;
}

.read-more {
  min-height: 30px;
}

.icon-remove {
  color: red;
}

/* user */

.profile {
  td {
    padding: 10px;
  }
}

.users {
  a.red {
    color: darkred;
  }
  @include gray_link
}